@model DisertatieModels.Model.AmountOfMaterial

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>AmountOfMaterial</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.rawMaterials.Nume)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rawMaterials.Nume)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.stockMaterials.Id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.stockMaterials.Id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cantitate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cantitate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
